@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    font-family: Quicksand;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.heroImg {
  height: 100vh;
  background: url(./assets/jumboImg.jpg) no-repeat center/
cover;
}

.navList li {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  font-size: 18px;
}



