@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    @apply font-[Quicksand];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.heroImg {
  height: 100vh;
  background: url(./assets/jumboImg.jpg) no-repeat center/
cover;
}

.navList li {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  font-size: 18px;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8)
    hsla(242, 74%, 61% 0.8)
  )
}

